.rodapie__descripcion{
    display: flex;
    font-size: 2rem;
    color: #8C8888;
}
@media screen and (max-width: 768px){
    .rodapie__descripcion{
        width: 100%;
        justify-content: center;
    }
}